extends layout

block content
  h1= title
  if authorList.length
    ul
      each author in authorList
        li
          a(href=author.url) #{author.name}
          |  (#{author.lifespan})

  else
    p There are no books.
